version: '3.8'

services:
  # ------------------------------------------------------------
  # 1. USER SERVICE
  # ------------------------------------------------------------
  user-service:
    build: ./user-service
    container_name: marketplace-user-service
    ports:
      - "7001:7001"
    volumes:
      - ./user-service:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - JWT_SECRET=pasaribu
      - PORT=7001
    # Tidak perlu setting networks lagi (otomatis default)

  # ------------------------------------------------------------
  # 2. PRODUCT SERVICE
  # ------------------------------------------------------------
  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "7002:7002"
    volumes:
      - ./product-service:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=7002

  # ------------------------------------------------------------
  # 3. ORDER SERVICE (YANG KITA UBAH)
  # ------------------------------------------------------------
  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "7003:7003"
    volumes:
      - ./order-service:/app
      - /app/node_modules
    depends_on:
      - product-service
    
    # Tambahan Khusus agar 'host.docker.internal' jalan di Linux juga
    extra_hosts:
      - "host.docker.internal:host-gateway"

    environment:
      - NODE_ENV=development
      - PORT=7003
      
      # KE SERVICE TEMAN (JALUR PINTAS)
      # Gunakan host.docker.internal untuk mengakses localhost laptop Anda
      # Port 8000 = Dompet Sawit
      # Port 4000 = GoShip
      - PAYMENT_SERVICE_URL=http://host.docker.internal:8000/graphql
      - LOGISTIC_SERVICE_URL=http://host.docker.internal:4000/graphql
      
      # KE INTERNAL (TETAP SAMA)
      # Karena satu file docker-compose, tetap panggil nama service-nya
      - PRODUCT_SERVICE_URL=http://product-service:7002/graphql

  # ------------------------------------------------------------
  # 4. FRONTEND
  # ------------------------------------------------------------
  ecommerce-frontend:
    build: ./ecommerce-frontend
    container_name: ecommerce-frontend
    ports:
      - "7000:7000"
    volumes:
      - ./ecommerce-frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_GRAPHQL_URL=http://localhost:7001/graphql